/* (: */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Secular+One&display=swap');

body {
    margin: 0px;
    background-image: linear-gradient(#9E6BA3, #45548F);
}

/* Firefox */

* {
    scrollbar-width: thin;
    scrollbar-color: #7A6399 white;
}
  
/* Chrome, Edge, e Safari */

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: white;
}
  
*::-webkit-scrollbar-thumb {
    background-color: #7A6399;
    border-radius: 15px;
    border: 3px solid white;
}

h1, h2, h3, h4 {
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 30px;
}

h2 {
    margin-top: 40px;
    font-size: 15px; 
}

h2, h3 {
    text-align: left;
}

h3 {
    margin-top: 12px;
    color: #45548F;
}

.h3-hr {
    color: #000000;
}

h3, h4 {
    font-size: 10px; 
}

h4 {
    color: #008000;
}

.h4-hr {
    color: #45548F;
}

p, ul {
    font-family: 'Secular One', sans-serif;
}

a {
    text-decoration: underline;
    color: #45548F;
}

.a-link {
    text-decoration: none;
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #7A6399;
    line-height: 30px;
}

i {
    font-size: 18px;
    color: #7A6399;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    width: 500px;
    height: 500px;
    padding: 30px;
    background: #DCDCDC;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 10px 10px;
}

.insta-text {
    background-image: linear-gradient(
        -225deg,
      #515BD4 0%,
      #B134AF 29%,
      #DD2A7B 67%,
      #FEDA77 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 13px;
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    line-height: 30px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@media (max-width: 992px) {
    .box {
        width: 340px;
        height: 340px;
        margin: 20px;
    }

    h1 {
        text-align: center;
        font-size: 20px;
    }
    
    h2, h3 {
        text-align: left;
    }
    
    h2 {
        margin-top: 40px;
        font-size: 12px; 
    }
    
    h3, h4 {
        font-size: 10px; 
    }
    
    h3 {
        margin-top: 8px;
    }
    
    h4 {
        margin-top: 6px;
    }
    
    p, ul {
        font-size: 15px;
    }
    
    .a-link {
        font-size: 13px;
    }
    
    i {
        font-size: 16px;
    }
}
